.about-us {
    padding: 39px 0 42px;

    .container {
        max-width: 280px;
    }

    .who-we-are {
        margin-right: 0;
        margin-bottom: 21px;
        transform: translateX(16px);

        h2 {
            margin-right: 29px;
            font-size: 27px;
            font-weight: 700;

            &::before {
                content: '';
                display: block;
                bottom: 7px;
                width: 95px;
            }

            &::after {
                content: '';
                display: block;
                width: 27px;
                height: 17px;
            }
        }
    }

    .feature-wrapper {
        flex-direction: column;
        align-items: center;

        .monitor {
            margin-bottom: 12px;
            margin-left: 16px;

            img {
                width: 97%;
            }
        }

        .feature-text {
            display: block;
            width: 280px;

            h4 {
                margin-bottom: 12px;
                font-size: 16px;
                word-spacing: 0;
                word-spacing: -3px;

                &::after {
                    content: '';
                    display: block;
                    width: 280px;
                    height: 1px;
                    margin-top: 12px;
                    background-color: $color-6;
                }
            }

            > p {
                margin-bottom: 36px;
                color: $color-5;
                font-family: $font-1;
                font-size: 13px;
                line-height: 22px;
            }

            .feature-list {
                display: block;
                flex-wrap: nowrap;
                width: 280px;

                .feature {
                    margin-bottom: 23px;

                    &:nth-last-of-type(4) {
                        display: none;
                    }

                    &::before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        margin-right: 14px;
                        background-color: #FFFFFF;
                        background-image: url(/images/about-us/check-icon.png);
                    }

                    div {
                        display: flex;
                        align-items: center;

                        h3 {
                            display: none;
                        }

                        p {
                            width: 250px;
                            line-height: 21px;
                        }
                    }
                }

                a {
                    display: inline-block;
                    margin-top: 21px;
                    padding: 13px 33px 16px 29px;
                    font-size: 13px;
                }
            }
        }
    }
}
