.about-us {

    .container {
        max-width: 718px;
    }

    .feature-wrapper {
        flex-direction: column;
        align-items: center;

        .monitor {
           height: 420px;
           margin-bottom: 20px;

        }

        .feature-text {
            display: block;
            width: 717px;

            h4 {
                font-size: 25px;
                word-spacing: 0;
                

                &::after {
                    content: '';
                    display: block;
                    width: 717px;
                    height: 1px;
                    background-color: $color-6;
                    margin-top: 20px;
                }
            }

            p {
                font-size: 13px;
            }
        }
    }
}
