@mixin border {
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: $color-1;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}