.slider {
    @include flex-center;

    position: relative;
    width: 100%;
    height: 759px;
    overflow: hidden;
    background-color: $color-9;

    img {
        position: absolute;
    }

    .slider-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        color: $color-1;

        h3 {
            margin-bottom: 4px;
            transform: translateX(1px);
            font-family: $font-2;
            font-size: 62px;
            font-weight: 200;
        }

        h4 {
            margin-bottom: 16px;
            font-family: $font-3;
            font-size: 73px;
            font-weight: 700;
            letter-spacing: -1.8px;
        }

        p {
            margin-right: 6px;
            margin-bottom: 40px;
            font-family: $font-2;
            font-size: 20px;
            font-weight: 200;
        }

        .bg-readmore {
            @include flex-center;

            width: 144px;
            height: 44px;
            background-color: $color-2;

            a {
                @include border;

                padding: 11px 31px 11px 31px;
                background-color: $color-2;
                color: $color-1;
                font-family: $font-2;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }

    .left-arrow {
        position: absolute;
        left: 20px;
        transform: translateY(-78px);
        cursor: pointer;
    }

    .right-arrow {
        position: absolute;
        right: 64px;
        transform: translateY(-78px);
        cursor: pointer;
    }
}
