.slider {
    height: 592px;

    .container {
        width: 718px;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    .slider-wrapper {
        margin-bottom: 27px;

        h3 {
            margin-bottom: 5px;
            font-size: 59px;
        }

        h4 {
            margin-bottom: 14px;
            font-size: 72px;
        }

        p {
            margin-bottom: 38px;
            font-size: 19px;
        }
    }
}
