.slider {
    padding: 157px 0 183px;

    .container {
        max-width: 714px;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    .slider-wrapper {

        h3 {
            margin-bottom: 8px;
            font-size: 59px;
        }

        h4 {
            margin-bottom: 14px;
            font-size: 72px;
        }

        p {
            font-size: 19px;
            margin-bottom: 36px;
        }

        .bg-readmore {
            transform: translateX(-3px);
        }
    }
}
