.slider {

    .container {
        max-width: 714px;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    .slider-wrapper{
        
        p {
            font-size: 19px;
        }
    }
}
