header {
    padding: 26px 0;
    background-color: #0E0E0E;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-wrapper {
            display: flex;
            align-items: flex-end;

            a {
                display: flex;
                align-items: flex-end;
                color: #FFFFFF;
                font-family: $font-2;
                font-size: 36px;
                font-weight: 200;

                img {
                    width: 27px;
                    height: 50px;
                }
            }
        }

        .menu {
            font-family: $font-1;

            ul {
                display: flex;

                li {
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 20px;
                    }

                    a {
                        color: $color-1;
                        font-size: 14px;
                    }
                }
            }
        }

        .burger {
            display: none;
        }
    }
}
