header {

    .container {
        max-width: 900px;
    }

    .menu {
        font-family: $font-1;

        ul {

            li {
                margin-right: 10px;

                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }
}
