header {
    padding: 28px 0 29px;
    background-color: #0E0E0E;

    .container {
        max-width: 717px;
    }

    .wrapper {

        .logo-wrapper{
            transform: translateY(-4px);
        }

        .menu {
            display: none;
        }

        .burger {
            display: flex;
        }
    }
}
