header {
    padding: 28px 0 29px;

    .container {
        width: 718px;
    }

    .wrapper {

        .logo-wrapper {
            transform: translateY(-4px);
        }

        .menu {
            display: none;
        }

        .burger {
            display: flex;
        }
    }
}
